[submodule "D:\\Projects\\Unreal Projects\\GitPluginTest\\Plugins\\FranGitUtilities"]
	path = D:\\Projects\\Unreal Projects\\GitPluginTest\\Plugins\\FranGitUtilities
	url = https://github.com/edgarbarney/FranGitUtilities.git
